@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4F4C4D;
    color: #383435;
    font-family: 'Gloria Hallelujah', cursive;
    color: #E0E0E0;
}

#container {
    min-height: 100vh;
    width: 100vw;
    margin: 40px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calendar {
    background: #3B3738;
    width: 350px;
    height: 370px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.74);
    padding: 10px;
    border-top-right-radius: 22px;
}

#calendar header {
    width: 280px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

#calendarTable {
    height: 282px;
}

#calendar p {
    font-size: 22px;
    line-height: 260%;
    letter-spacing: 2px;
}

#calendar span {
    cursor: pointer;
    padding: 0 10px;
    font-size: 30px;
    transition: transform 0.1s ease-in-out;
}

#calendar span:hover {
    color: #E50000;
}

#calendar span:active {
    transform: scale(.8);
}

table {
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
}

th{
    padding: 0 4px;
}

td {
    border: 1px solid #3B3738;
    padding: 5px 10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

td:hover {
    background: rgba(255,0,0, 0.7);
    transform: scale(1.15);
    border-radius: 8%;
}

thead {
    border-bottom: 1px solid #E50000;
    font-size: 20px;
}

.otherMonth {
    color: #808080;
}

#now {
    border: 1px solid #E50000;
    background: #E50000;
    border-radius: 8%;
}


/* TASK SECTION */

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.choosen {
    border-right: 1px solid #E50000;
    border-bottom: 1px solid #E50000;
    font-weight: bold;
    border-radius: 8%;
    color: #E50000;
    background: #2A2627;
}

#task {
    display: none;
    background: #3B3738;
    width: 350px;
    min-height: 150px;
    -webkit-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.74);
    margin-top: 25px;
    border-bottom-left-radius: 18px;
}

/* TASK - HEADER */

#task header {
    border-bottom: 1px solid #E50000;
}

#task header p {
    float: left;
    padding: 5px 15px;
    letter-spacing: 2px;
}

/* TASK HEADER - CLOSE */
#close {
    color: #E50000;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 21px;
    float: right;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#close:hover {
    background: #E50000;
    color: #383435;
}

#close:active {
    transform: scale(.8);
}

/* ADD TASK & BUTTONS */
#addTaskInput {
    width: 70%;
    margin: 10px auto;
}

#task button, #addTaskInput input {
    padding: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    outline: none;
}

#addTaskInput input {
    width: 80%;
    color: #E0E0E0;
    background: #4F4C4D;
}


#addTaskInput ::placeholder {
   color: #A0A0A0;
}

#addTaskInput input:focus {
    border: 1px solid #E50000;
}

#task button:first-of-type {
    background: #E0E0E0;
    transition: transform .1s ease-in-out;
}

#addTaskInput button:first-of-type {
    width: 15%;
}

#task button:hover {
    color: #E0E0E0;
    background: #E50000;
    border: 1px solid #E50000;
}

#task button.done:hover {
    background: green;
    border: 1px solid green;
}

#task button.done:focus {
    background: green;
    border: 1px solid green;
}

#task button:active {
    transform: scale(.9);
}

#task button:focus {
    border: 1px solid #E50000;
    background: #E50000;
}


/* LIST  */
#task > div p {
    font-size: 20px;
    text-align: center;
}

#task ol {
    margin: 0 0 0 2rem;
    padding-bottom: 10px;
}

#task ol li{
    font-size: 16px;
    padding: 2px;
}

.delete {
    margin: 0 10px;
}

.mark {
    background: #E50000;
    width: 10px;
    height: 2px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-fill-mode: both;
    animation-duration: 1s;
}
